body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr; 
}

.header{
    background-color: blueviolet;
    width: auto;
    height: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > h1{
    font-family: 'Varela Round', sans-serif;
    
    padding-top: 10px;
    height: 50px;
    margin: auto;
}
a {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#container{
    
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 300px 1fr;
}



#container div[id^="window"]{
    display: grid;
    flex-direction: row;
    grid-template-rows: 350px 150px;
}
div[id^="window"] div[id^="img"]{
    margin: auto;
    
}
#choix{
    margin: auto;
    margin-top: 30px;
    
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    font-size: 70px;
}

#choix button{
   
    font-size: 20px;
}

#container img{
    
    height: 340px;
    object-fit: cover;
}

#menu{
    border: 1px solid rgb(219, 6, 6);
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
#menu #start{
    font-size: 30px;
}

#menu #versus{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
}

#menu #score{
    font-size: 70px;
    text-align: center;
    margin: auto;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
}

#menu #timer{
    border: 1px solid rgb(219, 6, 6);
    font-size: 70px;
    margin-top: -70px;
    
    
    
}

