body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr; 
}

.header{
    background-color: blueviolet;
    width: auto;
    height: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > h1{
    font-family: 'Varela Round', sans-serif;
    
    padding-top: 10px;
    height: 50px;
    margin: auto;
}
a {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.formulaire{
    max-width: 350px;
    margin: auto;
    margin-top: 200px;
    
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-items: flex-start;
    
}

.text-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-form > input{
    margin: 10px 10px;
    width: 300px;
    border: none;
    border-bottom: 1px solid gray;
    
}

.btn-form, button{
    margin: 10px 10px;
}

.cartes{
    width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    grid-gap: 50px;
}