* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, #6ee0ff 0%, #00C9FF 100%);
    display: grid;
    grid-template-rows: auto 1fr; 
}

.header{
    background-color: blueviolet;
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > h1{
    font-family: 'Varela Round', sans-serif;
    
    padding-top: 10px;
    height: 50px;
    margin: auto;
}
a {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.todo-container{
    border-radius: 5px;
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 150px auto;
    max-width: 370px;
    display: grid;
    flex-direction: row;
    grid-template-rows: 50px 60px 390px;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    padding:0 10px;
}

.todo-input{
    margin-top: 10px;
    border: 1.5px solid gray;
    border-radius: 5px;
    height: 40px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.todo-input > img{
    
    height: 30px;
    width: 30px;
}
.todo-input , input[type=text]:focus  {
    outline: none;
  }
.todo-input  input{
    border: none;
    height: 30px;
    width: 320px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
.todo-categorie{
    height: 50px;
    width: 350px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;

}
#todo-aff{
    
    width: 350px;
    display: flex;
    align-content: center;
    height: 390px;
    overflow: auto;
    flex-direction: column;
    flex-wrap: nowrap;
}
#todo-aff::-webkit-scrollbar {
    display: none;
}

/* .div-task-menu{
    position: fixed;
}
.task-menu{
    
    position: absolute;
    top: -55px;
    left:  35px;
    list-style: none;
    padding: 5px ;
    background-color: white;
    border-radius: 3px;
    transform: scale(1);
    
}





#todo-aff .div-container{
    
    width: 340px;
    height: 40px;
    display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: center;
	
}
#todo-aff  .div-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
} */

#todo-aff p {
    margin-left: 10px;
}

button:not([class^="delete"]){
    height: 30px;
    border:none;
    background-color: white;
}
button:not([class^="delete"]):hover{
    height: 28px;
    border-bottom: 2px solid rgb(7, 157, 184);
    color: rgb(7, 157, 184);
}

button[class^="delete"]{
    height: 30px;
    border:none;
    background-color: rgb(7, 157, 184);
    border-radius: 5px;
}
button[class^="delete"]:hover{
    color: azure;
}